@model FilmsApp.ViewModels.FilmViewModel
@{
    ViewBag.Title = "Добавление фильма";
}

@if (User.Identity.IsAuthenticated)
{
    <form class="needs-validation" asp-action="create" asp-controller="home" enctype="multipart/form-data" novalidate>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input type="text" asp-for="Name" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="About" class="control-label">Описание</label>
            <textarea type="text" asp-for="About" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label">Год выпуска</label>
            <input type="number" asp-for="Year" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="Author" class="control-label">Режиссёр</label>
            <input type="text" asp-for="Author" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="Poster" class="control-label">Постер</label>
            <input type="file" asp-for="Poster" class="form-control h-100" accept="image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/tiff,image/vnd.wap.wbmp,image/webp" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-primary" />
        </div>
    </form>
}
@if (!User.Identity.IsAuthenticated)
{
    <h5>Нам нужно что-нибудь знать о Вас, авторизуйтесь, пожалуйста :)</h5>
}
